$color-yellow: yellow;
$color-red: red;
$color-primary: #6a2aa1;
$color-white: white;

$height-of-body: 50px;
$body-height: 50px;

$background-color-primary: $color-primary;
$header-color: $color-yellow;
$link-color: $color-red;
$asdaslkd-asdkjaskd: $color-primary;